@namespace CovAnalytica.Client.Components

<MudGrid>
	<MudItem xs="12">
		<div style="@($"display: {(addedCountries.Count > 0 ? "flex" : "none")}")">
			<ApexLineChart @bind-Visible="@Visible" @ref="chart" Title="COVID-19 Vaccinations per million" YAxisLabel="Vaccinations Per million"></ApexLineChart>
		</div>
		<MudText Typo="Typo.body1" Style="@($"display: {(addedCountries.Count > 0 ? "none" : "block")}")">Add countries to build a chart...</MudText>
	</MudItem>
</MudGrid>

			